body {
    background-color: #f7f7f7;
}

div#root > div {
    min-height: 100vh;
    background-color: white;
}

.invalidField {
    border: solid 1px red !important;
}

.invalidField + span {
    font-size: smaller;
    color: red;
}