body {
    background-color: #f7f7f7 !important;
}

div#root > div {
    min-height: 100vh;
    background-color: white;
}

th > button {
    background: none;
    border: none;
    padding: 0;
    text-align: left;
    font-weight: bold;
}

th > button:focus {
    outline: none;
}

.invalidField {
    border: solid 1px red !important;
}

.invalidField + span {
    font-size: smaller;
    color: red;
}